<%= form_for(:book, url: yield(:url)) do |f| %>
  <span>Title: <%= f.text_field :title%></span>
  <span>Author: <%= f.text_field :author %></span>
 
  <span><%= f.submit "Add", class: "btn btn-primary" %></span>
<% end %>
