<%= form_for(@book, url: user_book_path(), method: :patch ) do |f| %>
  <span>Title: <%= f.text_field :title%></span>
  <span>Author: <%= f.text_field :author %></span>
  <span><%= f.submit "Edit", class: "btn btn-primary" %></span>
<% end %>
